# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug

# local env files
.env*.local

.vscode
build/
fake_objects/
__pychache__/
MEDIA_FILES/
venv_pakages
.env


#--------------------------------------------

*.db
*.pyc
*.sqlite3
*.log

# dependencies
node_modules/
venv/
virtual-env/

.env
.vscode

__pycache__/

/*/**/migrations/[0-9]*_*.py
backend/[0-9]*_*.py

MEDIA_FILES/
media/
build/
fake_objects/

*doc.md