# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# testing
/coverage


# production
build/

# debug

# local env files
.env
__pychache__/

.vscode

fake_objects/
venv_pakages/
venv_modules/


#--------------------------------------------

*.db
*.pyc
*.sqlite3
*.log

# dependencies
node_modules/
venv/
virtual-env/

.env
.vscode

__pycache__/

/*/**/migrations/[0-9]*_*.py
/MEDIA_FILES/[ps]*/
